*{
    margin: 10px;
}
body{
    background-color: rgba(0, 16, 243, 0.918);
}
.contenedor{
    background-color:rgb(255, 0, 0);
    border-radius: 25px;
}
.boton{
    background-color: rgb(255, 4, 4);
}
.cards{
    background-color:rgb(17, 0, 255);
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
    overflow: hidden;
    width: 600px;
    height: 500px;
    margin: auto;
    text-align: center;
    border: 2px solid;
    border-radius: 25px;
  }
  input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }