.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%; /* Ancho del contenedor */
}

.box {
    width: 30%; /* Ancho de cada caja */
    height:24%; /* Altura de cada caja */
    margin: 9%; /* Margen entre cajas */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(251, 5, 5); /* Color de fondo predeterminado */
    cursor: pointer; /* Cambia el cursor a un puntero al pasar sobre la caja */
}

.box.clicked {
    background-color: #0aff0a; /* Cambia el color de fondo cuando se hace clic */
}

#carts {
    width: 53%; /* agregar carts en las imajenes de la pajina*/
    background-color: darkblue;
}

@media screen and (max-width: 120%) {
    body {
        background-color: rgb(255, 111, 8);
    }
}

.footer {
    background-color: forestgreen; /*cambiar el color de el fondo*/


}



