body {
    font-family: Arial, sans-serif;
    background-color: #e04203; /* Beige */
    color: #4B3621; /* Marrón oscuro */
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #8B4513; /* Marrón oscuro */
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #4B3621; /* Marrón oscuro */
    text-decoration: none;
}

section {
    text-align: center;
    padding: 20px;
}

section div {
    margin-bottom: 20px;
}

section div img {
    cursor: pointer;
}

footer {
    background-color: #8B4513; /* Marrón oscuro */
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}